prot-cxf-codegen/prot-cxf-codegen-soap-client/src/main/resources/calculator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://example.com/calc"
            targetNamespace="http://example.com/calc"
            elementFormDefault="qualified">

    <!-- Header element -->
    <xsd:element name="AuthHeader">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ApiKey" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Shared operation payload types -->
    <xsd:complexType name="BiOpRequestType">
        <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SingleResultType">
        <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OverflowFault">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DivideByZeroFault">
        <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="AddRequest" type="tns:BiOpRequestType"/>
    <xsd:element name="AddResponse" type="tns:SingleResultType"/>
    <xsd:element name="SubtractRequest" type="tns:BiOpRequestType"/>
    <xsd:element name="SubtractResponse" type="tns:SingleResultType"/>
    <xsd:element name="MultiplyRequest" type="tns:BiOpRequestType"/>
    <xsd:element name="MultiplyResponse" type="tns:SingleResultType"/>
    <xsd:element name="DivideRequest" type="tns:BiOpRequestType"/>
    <xsd:element name="DivideResponse" type="tns:SingleResultType"/>
    <xsd:element name="OverflowFault" type="tns:OverflowFault"/>
    <xsd:element name="DivideByZeroFault" type="tns:DivideByZeroFault"/>
</xsd:schema>

