prot-cxf-codegen/prot-cxf-codegen-plugin/src/test/resources/backend/soap/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalculatorService"
                  targetNamespace="http://example.com/calc"
                  xmlns:tns="http://example.com/calc"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- 1. TYPES: Define the data structures -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/calc">
            <!-- Header element -->
            <xsd:element name="AuthHeader">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ApiKey" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <!-- named types -->
            <xsd:complexType name="BiOpRequestType">
                <xsd:sequence>
                    <xsd:element name="a" type="xsd:int"/>
                    <xsd:element name="b" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SingleResultType">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="AddRequest" type="tns:BiOpRequestType"/>
            <xsd:element name="AddResponse" type="tns:SingleResultType"/>
            <xsd:element name="SubtractRequest" type="tns:BiOpRequestType"/>
            <xsd:element name="SubtractResponse" type="tns:SingleResultType"/>
        </xsd:schema>
    </wsdl:types>

    <!-- 2. MESSAGES: Map types to messages -->
    <wsdl:message name="HeaderMessage">
        <wsdl:part name="header" element="tns:AuthHeader"/>
    </wsdl:message>
    <wsdl:message name="AddInput">
        <wsdl:part name="parameters" element="tns:AddRequest"/>
    </wsdl:message>
    <wsdl:message name="AddOutput">
        <wsdl:part name="parameters" element="tns:AddResponse"/>
    </wsdl:message>
    <wsdl:message name="SubtractInput">
        <wsdl:part name="parameters" element="tns:SubtractRequest"/>
    </wsdl:message>
    <wsdl:message name="SubtractOutput">
        <wsdl:part name="parameters" element="tns:SubtractResponse"/>
    </wsdl:message>

    <!-- 3. PORT TYPE: Abstract operations -->
    <wsdl:portType name="CalculatorPortType">
        <wsdl:operation name="Add">
            <wsdl:input message="tns:AddInput"/>
            <wsdl:output message="tns:AddOutput"/>
        </wsdl:operation>
        <wsdl:operation name="Subtract">
            <wsdl:input message="tns:SubtractInput"/>
            <wsdl:output message="tns:SubtractOutput"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- 4. BINDING: Protocol and Header implementation -->
    <wsdl:binding name="CalculatorSoapBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="Add">
            <soap:operation soapAction="http://example.com/calc/Add"/>
            <wsdl:input>
                <!-- Include the Header in the input binding -->
                <soap:header message="tns:HeaderMessage" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="Subtract">
            <soap:operation soapAction="http://example.com/calc/Subtract"/>
            <wsdl:input>
                <soap:header message="tns:HeaderMessage" part="header" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- 5. SERVICE: Endpoint location -->
    <wsdl:service name="CalculatorService">
        <wsdl:port name="CalculatorPort" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/calculator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
